{% extends '::base.html.twig' %}

{% block body -%}

    <div class="container-fluid">
        <div class="row">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>

        </div>
    </div>
{% endblock %}
