{% extends '::backend.html.twig' %}

{% block body -%}

    <div class="container-fluid">
        <div class="main main_login">

            <p style="text-align: center; padding-top: 20px">{{ 'Usuario registrado correctamente'|trans({'%username%': user.username}) }}</p>

        </div>
    </div>
{% endblock %}
