{% extends '::base.html.twig' %}


{% block body %}


    <div class="container-fluid">
        <div class="main main_login">

            <p style="text-align: center; padding-top: 20px">Esta es la vista para el ADMIN</p>

        </div>
    </div>


{% endblock %}
