a.navbar-brand{
	padding: 5px 15px;
}
a.navbar-brand > img{
	height: 40px;
}
body {
	font-size: 14px;
	background-image:url("../../../bundles/app/fondo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.main {
	max-width: 320px; 
	margin: 0 auto;
}
.login-or {
	position: relative;
	font-size: 18px;
	color: #aaa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.span-or {
	display: block;
	position: absolute;
	left: 50%;
	top: -2px;
	margin-left: -25px;
	background-color: #fff;
	width: 50px;
	text-align: center;
}
.hr-or {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
h3 {
	text-align: center;
	line-height: 300%;
}
.main_login{
	background-color: #f8f8f8;
	border:1px solid #ddd;
	padding: 0 10px 10px;
	border-radius: 10px;
}

.form {
	background-color: white;
	opacity: 0.95;
	margin: 0 auto !important;
  	float: none !important;
    padding: 10px 20px;
}	

.form-control {
	margin-bottom: 10px;
}

ul {
	list-style: none;
	padding-left: 0;
}

.pull-left {
    margin-right: 10px;
}